@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome DevOps World  Pipeline work</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
line 1 by user2
line 1 by user1
<<<<<<< HEAD
>>>>>>> 100da25ce88979e68ae92c9d8b478f3c764b6c0b
This is user1 -by user1 
=======
line 14 by user2-user2
>>>>>>> 0bdf0d5 (line 14 by user2)



line 20 by user1
line 20 by user2 
line 11
line12
line13